
@{
    ViewBag.Title = "cadBarb";
}

<h2>Cadastrar Barbeiro</h2>

@using (Html.BeginForm("cadBarb", "Home", FormMethod.Post, new { enctype = "multipart/form-data" }))
{
    <table>

        <tr><td>Nome:</td><td><input type="text" name="txtBarbeiro" id="txtBarbeiro" /></td></tr>

        <tr><td colspan="2"><input type="submit" value="Cadastrar" name="btn" id="btn" /></td></tr>

    </table>
}

@ViewBag.msg

